body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f2f2f2;
  padding-top: 50px;
}

.container {
  background: white;
  padding: 20px;
  width: 500px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px gray;
}

#videoPlayer {
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
}